<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Basic">
    <mat-toolbar>
      <span>Lungenwert</span>
    </mat-toolbar>

    <mat-card class="lungenwert-card">
      <mat-card-header>
        <mat-card-title>Max Mustermann</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/lungenwerte.png" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button mat-raised-button color="primary" class="btn_valuechange">Maximalwert anpassen</button>
      </mat-card-actions>
    </mat-card>

  </mat-tab>
  <mat-tab label="Advanced">
    <mat-toolbar>
      <span>Lungenwert - Pro</span>
    </mat-toolbar>
  </mat-tab>
</mat-tab-group>
