.lungenwert-card {
  margin-left: 16px;
  margin-right: 16px;
}

.mat-card-title {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.btn_valuechange {
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}
