.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.progress-bar {
  position: absolute;
  left: 70px;
  bottom: 20px;
  right: 80px;
  width: unset;
}
.updated {
  position: absolute;
  right: 80px;
  top: 30px;
}  

.patient-card {
}

.right {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -20px;
  bottom: 0;

}

.mat-form-field {
  width: 100%;
}